*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

#pagina{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1980px;
}